apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      run: server
  template:
    metadata:
      labels:
        run: server
    spec:
      containers:
      - name: server
        image: leyougue/demo:1.0.4
        resources:
          limits:
            memory: "128Mi"
            cpu: "300m"
          requests:
            cpu: 200m
        env:
        - name: DATABASE_URL
          value: postgres://test:test@db-service:5432/demo
        ports:
        - containerPort: 8080
        volumeMounts:
        - mountPath: /data
          name: app-volume
        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
          successThreshold: 1
          failureThreshold: 3
      volumes:
      - name: app-volume
        hostPath:
          # directory location on host
          path: /tmp/app-data
